/* Global Styles */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif
}

/* Header Styles */

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* Image Section Styles */
#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 50px 20px;
}

#img-caption {
    text-align: center;
    margin-bottom: 0;
}

/* Body Styles */

main {
    background-color: lightgrey;
}

#tribute-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tribute-header p {
    margin: 0;
}

#timeline-div {
    width: 80%;
    margin: 0 auto;
}

/* Footer Styles */

#tribute-link, div p {
    display: flex;
    justify-content: center;
}

/* General Styling */
.bold {
    font-weight: 800;
} 